/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /*.ui.link.cards.grid.centered  {*/
        /*background-color: green*/
    /*}*/
    .header-menu-label-small {
        display:none;
    }
    .header-menu-label-big {
        display:inline;
    }

    .search-little{
        display:none!important;
    }
    .search-big{
        display:flex!important;
    }
    /*.mobile_announce{*/
        /*display:none;*/
    /*}*/
    /*.large_announce{*/
        /*display:block;*/
    /*}*/
    /*.ui.cards.cards_announce{*/
        /*margin-top:0px;*/
        /*margin-right:300px;*/
    /*}*/
}