.filters{
    padding-bottom: 10px;
}
.filter-row{
    padding-top:2px;padding-bottom:2px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
ul{
    list-style-type:none;
}

