.filter-faded-icon{
    opacity:0.3;
}


.log-signup{
    margin-top:3px;margin-right:3px;
    width:200px;
}

.ui.menu.ao-bottom-menu{
    border-radius:0;
}

.ui.card.played,  .ui.cards > .ui.card.played {
    background-color:#BCE5F5;
}
.ui.card.played:hover,  .ui.cards > .ui.card.played:hover {
    background-color:#BCE5F5;
}