<div class="ui">
    <div class="tags ui grid centered " style="margin-bottom:40px;">
        <a class="ui tag label" ng-repeat="tag in tags" ng-click="removeTag(tag.tagId)">{{ tag.value }}</a>
        <a class="ui label" ng-if="tags.length > 0" target="_blank" download="pack.zip" href="{{downloadAllLink}}">
            <i class="cloud download icon"></i> Download all
        </a>
    </div>
    <div class="ui link cards grid centered">
        <!--<div class="ui active dimmer" style="margin-top:50px" >-->
        <!--<div class="ui large text loader">Loading</div>-->
        <!--</div>-->
        <div ng-repeat="pack in packs" class="ui card" style="width:200px;text-align:left;"
             ng-init="$last ? bindCardsEvents() : null">
            <div class="image ao-beatmap-image-container"
                 style="min-height:150px;background-image:url('/img/image.png');background-size:cover;">
                <div class="ui dimmer">
                    <div class="content">
                            <div class="ui list">
                                <div class="item">
                                    <img class="ui image middle aligned" title="BPM" src="/img/bpm-inverted.png" style="width:20px;">
                                    <span >
                                        {{pack.bpm}}
                                    </span>
                                </div>
                                <div class="item">
                                    <img class="ui image middle aligned" title="Plays success" src="/img/medals7-inverted.png" style="width:20px;">
                                    <span >
                                        {{pack.playSuccess}}
                                    </span>
                                </div>
                            </div>
                    </div>
                </div>
                <img class="ao-beatmap-image" alt="" src="/media/{{pack.beatmapset_id}}/{{pack.beatmapset_id}}l.jpg" o>
            </div>
            <div class="content">
                <div class="header"><a style="color:black" ng-click="addTagByUI('title', pack.title)">{{pack.title}}</a></div>
                <div class="meta">
                    <a ng-click="addTagByUI('artist', pack.artist)">{{pack.artist}}</a>
                </div>
                <div class="meta">
                    mapped by <a ng-click="addTagByUI('creator', pack.creator)" >{{pack.creator}}</a>
                </div>
                <div class="meta" ng-if="undefined !== pack.source && null !== pack.source && '' !== pack.source">
                    source <a ng-click="addTagByUI('source', pack.source)" >{{pack.source}}</a>
                </div>
                <div class="meta">
                    <a ng-click="addTagByUI('genre', pack.genre)" >{{pack.genre}}</a>, <a ng-click="addTagByUI('language', pack.language)">{{pack.language}}</a>
                </div>
            </div>
            <div class="extra content">
                <img id="popover-{{beatmap.beatmap_id}}"
                     ng-repeat="beatmap in pack.beatmaps | orderBy:'difficultyrating'"
                     ng-click="showBeatmap(beatmap)"
                     src="/img/mode/{{converter.mode[beatmap.mode]}}/{{converter.difficulty[beatmap.difficulty]}}.png"
                     style="width:20px;margin-left:2px;opacity:0.8;"/>


            </div>
            <div class="extra content">
            <span>
                <i class="play outline icon"></i>
               {{pack.playCount}}
            </span>
            <span class="right floated">
              <i class="heart outline like icon"></i>
              {{pack.favouritedCount}}
            </span>
            </div>
            <div class="extra content">
                <div class="ui three buttons">
                    <a class="ui icon basic button" target="_blank" href="https://osu.ppy.sh/s/{{pack.beatmapset_id}}">
                        <i class="linkify icon"></i>
                    </a>
                    <a class="ui icon basic button" target="_self" href="{{pack.downloadLink}}"
                       download="{{pack.downloadName}}">
                        <i class="cloud download icon"></i>
                    </a>
                    <a class="ui icon basic button" ng-click="playBeatmap(pack.beatmapset_id)">
                        <i class="sound icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui bottom attached green progress" data-percent="{{pack.getPercentUserRating()}}">
                <div class="bar"
                     style="transition-duration: 300ms; -webkit-transition-duration: 300ms;width:{{pack.getPercentUserRating()}}%"></div>
            </div>
        </div>
    </div>
</div>