<div class="flex-grid">
    <div class="flex-cell flex-beatmap-card beatmap-card" ng-repeat="pack in packs"
         style="background-image:url('/media/{{pack.beatmapset_id}}/{{pack.beatmapset_id}}l.jpg')">
        <div class="flex-beatmap-image" style="height:180px;">
            <div class="flex-beatmap-half">
                <img id="popover-{{beatmap.beatmap_id}}"
                     ng-repeat="beatmap in pack.beatmaps | orderBy:'difficultyrating'"
                     ng-click="showBeatmap(beatmap)"
                     src="/img/mode/{{converter.mode[beatmap.mode]}}/{{converter.difficulty[beatmap.difficulty]}}.png"
                     style="width:20px;margin-left:2px;"/>
            </div>
            <div class="flex-beatmap-half">
                <div class="beatmap-card-langue-and-genre">{{pack.genre}}</div>
                <div class="beatmap-card-langue-and-genre">{{pack.language}}</div>
            </div>
        </div>
        <div class="flex-beatmap-caption">
            <div class="flex-beatmap-caption-row">
                <div class="flex-beatmap-label-header">
                    <img src="/img/artist.png">
                </div>
                <div class="flex-beatmap-label">

                    <span>{{pack.artist}}</span>
                </div>
            </div>
            <div class="flex-beatmap-caption-row">
                <div class="flex-beatmap-label-header">
                    <img src="/img/title.png">
                </div>
                <div class="flex-beatmap-label">
                    <span>{{pack.title}}</span>
                </div>
            </div>
        </div>
        <div class="flex-beatmap-footer">
            dsfdsf
        </div>
    </div>
</div>