<div class="ui top sidebar overlay filters">
    <div class="toBottomPart">
    </div>
    <div>
        <div class="ui form" style="background-color:white;padding:10px">

            <div style="position:relative">
                <div style="position: absolute;right:0;top:-15px;">
                    <button class="ui tiny icon button" ng-click="closeExtraFilters()"
                            id="close-extraFilters">
                        <i class="close icon"></i>
                    </button>
                </div>
                <h4 class="ui dividing header">Extra filters</h4>

                <div class="fields">
                    <div class="field four wide">
                        <h4 class="ui dividing header">Map parameters</h4>


                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Duration (seconds)</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minDuration" ng-change="draw()" type="number" placeholder="Minimum"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxDuration" ng-change="draw()" type="number" placeholder="Maximum"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>BPM</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minBPM" ng-change="draw()" type="number" placeholder="Minimum"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxBPM" ng-change="draw()" type="number" placeholder="Maximum"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Overall difficulty</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minOverallDifficulty" ng-change="draw()" type="number"
                                       placeholder="Minimum" min="1" max="10"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxOverallDifficulty" ng-change="draw()" type="number"
                                       placeholder="Maximum" min="1" max="10"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>HP drain rate</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minHPDrainRate" ng-change="draw()" type="number" placeholder="Minimum"
                                       min="1" max="10"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxHPDrainRate" ng-change="draw()" type="number" placeholder="Maximum"
                                       min="1" max="10"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Circle size / key count</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minCircleSize" ng-change="draw()" type="number" placeholder="Minimum"
                                       min="1" max="10"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxCircleSize" ng-change="draw()" type="number" placeholder="Maximum"
                                       min="1" max="10"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Approach rate</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minApproachRate" ng-change="draw()" type="number" placeholder="Minimum"
                                       min="1" max="10"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxApproachRate" ng-change="draw()" type="number" placeholder="Maximum"
                                       min="1" max="10"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Difficulty (more accurate than easy, hard, etc.)</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minDifficultyRating" ng-change="draw()" type="number"
                                       placeholder="Minimum"
                                       min="1" max="20"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxDifficultyRating" ng-change="draw()" type="number"
                                       placeholder="Maximum"
                                       min="1" max="20"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Play duration (seconds from first note to last note not including breaks)</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minHit_length" ng-change="draw()" type="number" placeholder="Minimum"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxHit_length" ng-change="draw()" type="number" placeholder="Maximum"/>
                            </div>
                        </div>


                    </div>
                    <div class="field four wide">
                        <h4 class="ui dividing header">Social parameters</h4>

                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Playcount</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minPlayCount" ng-change="draw()" type="number" placeholder="Minimum"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxPlayCount" ng-change="draw()" type="number" placeholder="Maximum"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Played with success count</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minPlaySuccess" ng-change="draw()" type="number"
                                       placeholder="Minimum"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxPlaySuccess" ng-change="draw()" type="number"
                                       placeholder="Maximum"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Favourited count</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minFavouritedCount" ng-change="draw()" type="number"
                                       placeholder="Minimum"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxFavouritedCount" ng-change="draw()" type="number"
                                       placeholder="Maximum"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Negative user rating</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minNegativeUserRating" ng-change="draw()" type="number"
                                       placeholder="Minimum"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxNegativeUserRating" ng-change="draw()" type="number"
                                       placeholder="Maximum"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Positive user rating</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minPositiveUserRating" ng-change="draw()" type="number"
                                       placeholder="Minimum"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxPositiveUserRating" ng-change="draw()" type="number"
                                       placeholder="Maximum"/>
                            </div>
                        </div>
                    </div>
                    <div class="field four wide">
                        <h4 class="ui dividing header">Date parameters</h4>

                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Approved date</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minApproved_date" ng-change="draw()" type="date"
                                       placeholder="Minimum"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxApproved_date" ng-change="draw()" type="date"
                                       placeholder="Maximum"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Last update date</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minLast_update" ng-change="draw()" type="date" placeholder="Minimum"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxLast_update" ng-change="draw()" type="date" placeholder="Maximum"/>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <label>Submitted date</label>
                            </div>
                            <div class="six wide field">
                                <input ng-model="minSubmitted_date" ng-change="draw()" type="date"
                                       placeholder="Minimum"/>
                            </div>
                            <div class="six wide field">
                                <input ng-model="maxSubmitted_date" ng-change="draw()" type="date"
                                       placeholder="Maximum"/>
                            </div>
                        </div>
                    </div>
                    <div class="field four wide">
                        <h4 class="ui dividing header">Display cards</h4>

                        <div class="inline field" ng-repeat="db in playedBeatmaps">
                            <input type="radio" name="played-beatmaps-radio" id="played-beatmaps-{{db.value}}"
                                   ng-model="$parent.pbv" value="{{db.value}}" ng-change="draw()"/>
                            <label for="played-beatmaps-{{db.value}}">{{db.name}}</label>
                        </div>

                        <h4 class="ui dividing header">Files to include in osz</h4>

                        <div class="inline field" ng-repeat="ext in extensions">
                            <input type="checkbox" id="extension-{{ext.value}}" ng-model="ext.active"
                                   ng-change="draw()"/>
                            <label for="extension-{{ext.value}}">{{ext.name}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui right sidebar right-menu vertical menu overlay" style="z-index:3;width:500px;background-color:#F3F4F5;">
    <div class="ui category search" style="padding:5px;">
        <div class="ui icon input" style="width:100%;">
            <input ng-model="searchInput" class="prompt inverted searchInSidebar" type="text"
                   placeholder="Search creators / titles / artits ..." style="border-radius:0px;">
            <i class="search icon"></i>
        </div>
        <div class="results transition visible"
             style="display: block !important;width:100%;border-right-width:0;border-left-width:0;box-shadow: none;"
             ng-if="results !== undefined && results !== null && results.length>0">
            <div class="category" ng-repeat="category in results">
                <div class="name">{{category.name}}</div>
                <div class="result" ng-repeat="result in category.results">
                    <div class="content">
                        <div class="title" ng-click="addTag(result.o)">{{result.title}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-results" style="text-align:center;padding:40px;color:#BBBBBC;"
             ng-if="results !== undefined && results !== null && results.length === 0"><h2>No results. Sorry !</h2>
        </div>
        <div class="start-typing-to-search" style="text-align:center;padding:40px;color:#BBBBBC;"
             ng-if="results === undefined || results === null"><h2>Start typing to search artists, songs, creators,
            source or tags</h2></div>
    </div>
</div>
<div class="ui left sidebar left-menu vertical menu  overlay inverted" style="z-index:3">
    <a class="item" href="/">
        Home
    </a>
    <a class="item about-button">
        About
    </a>
</div>

<div class="pusher">

    <div class="ui fixed inverted menu ao-menu fluid">

        <a class="item" id="left-menu-toggle">
            <div class="ui dimmer ao-loader">
                <div class="ui tiny loader"></div>
            </div>
            <img class="logo ao-logo" src="img/1437607408_osu.png"/>
        </a>


        <a class="ui dropdown item aligned ao-filters">
            <span class="header-menu-label-big">Mode</span>
            <span class="header-menu-label-small">M</span>

            <div class="menu">
                <div class="item" ng-repeat="m in modes" ng-click="changeMode(m.value)" style="width:180px;">
                    <img class="ui image" ng-class="m.active === true ? '':'filter-faded-icon'"
                         src="/img/mode/{{converter.mode[m.value]}}/mode.png"
                         style="width:20px;"/>
                    {{m.name}}
                </div>
            </div>
        </a>
        <a class="ui dropdown item aligned ao-filters">
            <span class="header-menu-label-big">Difficulty</span>
            <span class="header-menu-label-small">D</span>

            <div class="menu">
                <div class="item" ng-repeat="d in difficulties" ng-click="changeDifficulty(d.value)"
                     style="width:180px;">
                    <img class="ui image" ng-class="d.active === true ? '':'filter-faded-icon'"
                         src="/img/mode/osu/{{converter.difficulty[d.value]}}.png"
                         style="width:20px;"/>
                    {{d.name}}
                </div>
            </div>
        </a>
        <a class="ui dropdown item aligned ao-filters">
            <span class="header-menu-label-big">Status</span>
            <span class="header-menu-label-small">S</span>

            <div class="menu">
                <div class="item" ng-repeat="d in approved" ng-click="changeApproved(d.value)" style="width:180px;">
                    <img class="ui image" ng-class="d.active === true ? '':'filter-faded-icon'"
                         src="/img/approved/{{converter.approved[d.value]}}.png"
                         style="width:20px;"/>
                    {{d.name}}
                </div>
            </div>
        </a>
        <a class="ui item icon aligned ao-filters sidenav-open">
            <i class="filter icon"></i>
        </a>
        <a class="ui dropdown item aligned ao-filters" ng-click="changeStrict()">
            <i class="lock icon" ng-show="!disableStrict"></i>
            <i class="unlock icon" ng-show="disableStrict"></i>
        </a>
        <!--<a class="ui item icon aligned ao-filters " data-content="Download" target="_self" download="pack.zip"-->
           <!--href="{{downloadAllLink}}">-->
            <!--<i class="cloud download icon"></i>-->
        <!--</a>-->

        <!--*************************  USER ICONS ******************************-->
        <a class="item ao-user right" ng-class="isLogged ? '':'icon'">
            <i class="user icon"></i>
            <span ng-show="isLogged">{{user.name}}</span>
        </a>

        <div class="ui flowing popup top left transition hidden ao-user-options">
            <div class="ui one column middle aligned very relaxed stackable grid">
                <div class="column">
                    <div class="ui blue button" ng-click="showProfileOptions()">Profile</div>
                    <div class="ui blue submit button" ng-click="logout()">Logout</div>
                </div>
            </div>
        </div>
        <div class="ui flowing popup top left transition hidden ao-user-login" style="width:500px;">
            <div class="ui one column middle aligned very relaxed stackable grid">
                <div class="ui column vertical buttons">
                    <div class="ui form signin-form">
                        <div class="field">
                            <label>Username</label>

                            <div class="ui left icon input">
                                <input type="text" placeholder="Pseudo or mail" class="login-pseudo"
                                       ng-model="username">
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Password</label>

                            <div class="ui left icon input">
                                <input type="password" placeholder="Password" autocomplete="off"
                                       ng-model="password">
                                <i class="lock icon"></i>
                            </div>
                            <p style="text-align:right;"><a href ng-click="forgotYourPassword()">Forgot you password
                                ?</a></p>
                        </div>
                        <div class="ui error message"></div>
                        <div class="ui blue submit button">Login</div>
                    </div>
                </div>
                <div class="ui horizontal divider">
                    Or
                </div>
                <div class="ui aligned column vertical buttons">
                    <div class="ui green button log-signup" ng-click="openSignup()">
                        <i class="signup icon"></i>
                        Sign Up
                    </div>
                </div>
            </div>
        </div>

        <a class="item" ng-show="isLogged" ng-click="saveExtrafilters()" id="save-extraFilters">
            <div class="ui dimmer saving-loader">
                <div class="ui tiny loader"></div>
            </div>
            <i class="save icon"></i>
        </a>
        <a class="item rss" target="_blank" ng-href="{{rssfeed}}" ng-show="isMe">
            <i class="rss icon"></i>
        </a>

        <a class="ui item icon right-menu-toggle">
            <i class="search icon"></i>
        </a>

    </div>
    <div style="position:fixed;top:52px;bottom:40px;right:0;left:0;overflow-y:auto;overflow-x:hidden;">
        <div ui-view></div>
    </div>
    <div class="ui menu inverted ao-bottom-menu" style="position:fixed;bottom:0;left:0;right:0;margin:0;">

        <a class="item" ng-show="isNotFirstPage" ng-click="goPreviousPage()">previous</a>

        <div class="ui dropdown item ao-sorting right">
            <div class="default text">{{pageSize}}</div>
            <div class="menu">
                <div class="item"
                     ng-repeat="s in pageSizes" data-value="{{s}}" ng-click="changePaging(s)">
                    {{s}}
                </div>
            </div>
        </div>
        <div class="ui dropdown item ao-sorting">
            <input type="hidden" name="gender">

            <div class="default text">{{sorting.label}}</div>
            <div class="menu">
                <div class="item"
                     ng-repeat="s in sortings" data-value="{{s.value}}" ng-click="sort(s)">
                    {{s.label}}
                </div>
            </div>
        </div>
        <a class="item"> <i class="sort content icon" ng-click="changeSortingDirection()"
                            ng-class="sorting.direction === 1 ? 'ascending' : 'descending'"></i></a>

        <div class="right menu">
            <a class="item" ng-show="hasNextPage" ng-click="goNextPage()">next</a>
        </div>

    </div>

    <div class="ui form modal signup">
        <!--<i class="close icon"></i>-->
        <div class="ui inverted dimmer">
            <div class="ui text loader">Registering you now :)</div>
        </div>
        <div class="header">
            Create account
        </div>
        <div class="ui content signup-form">

            <div class="field pseudo-field">
                <label>Pseudo</label>
                <input type="text" class="pseudo" id="pseudo" placeholder="JohnDoe457">
            </div>
            <div class="field mail-field">
                <label>E-mail</label>
                <input type="text" class="mail" id="mail" placeholder="john.doe@wonderland.com">
            </div>
            <div class="field">
                <label>Osu! user ID</label>
                <input type="text" class="user_id" id="user_id"
                       placeholder="Your user id can be found in url of your Osu! profile page.">
            </div>
            <div class="field password1-field">
                <label>Password</label>
                <input type="password" class="password1" id="password1" placeholder="Enter your password">
            </div>
            <div class="field password2-field">
                <label>Repeat password</label>
                <input type="password" class="password2" id="password2" placeholder="Confirm your password">
            </div>
        </div>
        <div class="actions">
            <div class="ui button blue submit">Create account</div>
            <div class="ui button signup_cancel">Cancel</div>
        </div>
    </div>
    <div class="ui modal signup-result-ok">
        <div class="header">
            Account has been created
        </div>
        <div class="content">
            Your account has been created. After visiting the url send to you by email, you will be able to login !
        </div>
        <div class="actions">
            <div class="ui button signup-result-ok_cancel">Close</div>
        </div>
    </div>
    <div class="ui modal signup-result-ko">
        <div class="header">
            Cannot create account
        </div>
        <div class="content">
            Your account cannot be created because <span class="signup-result-ko-reason"></span>
        </div>
        <div class="actions">
            <div class="ui button signup-result-ko_cancel">close</div>
        </div>
    </div>
    <div class="ui modal mail-sent">
        <div class="header">
            Mail sent
        </div>
        <div class="content">
            A e-mail has been sent.
        </div>
        <div class="actions">
            <div class="ui button mail-sent_cancel">close</div>
        </div>
    </div>
    <div class="ui modal mail-sent-fail">
        <div class="header">
            Cannot sent verification e-mail
        </div>
        <div class="content">
            We were unable to send you a verification e-mail: <span class="mail-sent-fail-reason"></span>
        </div>
        <div class="actions">
            <div class="ui button close">close</div>
        </div>
    </div>
    <div class="ui modal forgot-password-modal">
        <div class="header">
            Password reset
        </div>
        <div class="content">
            <div class="ui form forgot-password">
                <div class="field">
                    <label>E-mail</label>
                    <input type="text" id="forgot-password-email"
                           placeholder="Enter your e-mail">
                </div>
                <p>
                    A email will be sent to you with a link to enter a new password.
                </p>
            </div>
        </div>
        <div class="actions">
            <div class="ui blue submit button" ng-click="sendResetMail()">Send</div>
            <div class="ui button close">close</div>
        </div>
    </div>
    <div class="ui modal user-options">
        <div class="ui inverted dimmer">
            <div class="ui text loader">Saving your profile.</div>
        </div>
        <div class="header">
            Profile
        </div>
        <div class="ui form content user-options-form">
            <div class="inline field">
                <label for="options-osu_id">Osu! ID</label>
                <input type="text" id="options-osu_id" placeholder="" ng-model="user.user_id">
            </div>
            <div class="actions">
                <div class="ui button blue submit">save</div>
                <div class="ui button close">close</div>
            </div>
        </div>
    </div>
    <div class="ui modal about">
        <div class="header">
            About Altosu
        </div>
        <div class="content">
            Altosu was created on July 21th 2015.<br/>
            It was designed to be a mirror of <a target="_blank" href="https://osu.ppy.sh/">Osu! official website</a>
            with extra neat functionalities.<br/>
            It was created by <a target="_blank" href="https://osu.ppy.sh/u/4567755">Ikaer</a>.<br/>
            This is <a target="_blank" href="https://osu.ppy.sh/forum/p/4355419">the forum official thread</a> if you
            have any questions to ask or bugs to report.<br/>
        </div>
        <div class="actions">
            <div class="ui button about-close">Close</div>
        </div>
    </div>
</div>
<script>


    $('.signup.modal').modal({
        allowMultiple: false
    })
    $('.signup-result-ok').modal()
    $('.signup-result-ko').modal()
    $('.signup.modal .signup_cancel').click(function () {
        $('.signup.modal').modal('hide')
    })
    $('.signup-result-ok .signup-result-ok_cancel').click(function () {
        $('.signup-result-ok').modal('hide')
    })
    $('.signup-result-ko .signup-result-ko_cancel').click(function () {
        $('.signup-result-ko').modal('hide')
    })


    // MAIL SEND MODAL - VARIOUS SOURCE
    $('.mail-sent').modal();
    $('.mail-sent .mail-sent_cancel').click(function () {
        $('.mail-sent').modal('hide')
    })
    $('.mail-sent-fail').modal();
    $('.mail-sent-fail .close').click(function () {
        $('.mail-sent-fail').modal('hide')
    })


    // FORGOT PASSWORD MODAL
    $('.forgot-password-modal').modal();
    $('.forgot-password-modal .close').click(function () {
        $('.mail-sent-fail').modal('hide')
    })

    $('.user-options').modal()
    $('.user-options .close').click(function () {
        $('.user-options').modal('hide')
    })
    $('.user-options .menu .item').tab();

    $('.dropdown.ao-sorting').dropdown();
    $('.dropdown.ao-filters').dropdown({
        action: function () {
            /*hack do nothing*/
        }
    });
    $('.dropdown.ao-filter-language').dropdown();
    $('.ao-extra-filters').popup({
        on: 'click',
        popup: '.ao-extra-filters-popup',
        position: 'bottom right'
    });
    $('.ui.checkbox:not(.pure-angular)').checkbox();

    $('#left-menu-toggle').click(function () {
        $('.left-menu').sidebar('toggle');
    })
    $('.right-menu-toggle').click(function () {
        $('.right-menu').sidebar('toggle');
        window.setTimeout(function () {
            $('.searchInSidebar').focus();
        }, 20)
    })

    $('.about-button').click(function () {
        $('.modal.about').modal('show')
    });
    $('.about-close').click(function () {
        $('.modal.about').modal('hide')
    });


</script>
<audio id="player" src="" type="audio/mp3"></audio>
<div id="popover_youtube_content" style="position:absolute;height:390px;width:640px;display:none;"
     ng-mouseenter="searchYoutTube(null, $event, false)"
     ng-mouseleave="searchYoutTube(null, $event, true)"
>
    <div class="ui active dimmer">
        <div class="ui text loader">Loading</div>
    </div>
    <div class="header" style="padding:3px;color:white;background-color:black;text-align:center;">
        <h3 class="title"></h3>
    </div>
    <div id="youtube_player"></div>
</div>




