<script type="text/ng-template" id="tagTemplate.html">
    <a>
        <img src="/img/{{match.model.type}}.png" style="vertical-align: top;width:15px;"/> {{ match.model.value }}
        ({{match.model.count }})
    </a>
</script>
<div class="filters">
    <div class="filter-row">
        <input type="text"
               placeholder="Search a creator / artists / song ..."
               typeahead-template-url="tagTemplate.html"
               typeahead-loading="loadingLocations"
               typeahead="x.value for x in getTags($viewValue)"
               ng-model="selectedTag"
               typeahead-on-select="addTag($item)"
               class="form-control"/>
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    </div>
    <div class="filter-row">
        <div class="btn-group">
            <label ng-model="d.active" ng-change="draw()" btn-checkbox class="btn btn-default"
                   ng-repeat="d in constants.difficulties">
                <img src="/img/mode/osu/{{constants.converter.difficulty[d.value]}}.png"
                     style="vertical-align: top;width:20px;"/>
                {{d.name}}
            </label>
        </div>
        <div class="btn-group" style="float:right;">
            <label ng-model="m.active" ng-change="draw()" btn-checkbox class="btn btn-default"
                   ng-repeat="m in constants.modes">
                <img src="/img/mode/{{constants.converter.mode[m.value]}}/mode.png"
                     style="vertical-align: top;width:20px;"/>
                {{m.name}}
            </label>
        </div>
    </div>
    <div class="filter-row">
        <div class=" tag-box">
            <button class="tag btn btn-default" ng-repeat="tag in tags" ng-click="removeTag(tag.tagId)">
                <img src="/img/{{tag.type}}.png" style="vertical-align: top;width:20px;"/>
                {{ tag.value }}
            </button>
        </div>
    </div>

</div>


<div class="container-fluid">
    <div class="row">
        <div ng-repeat-start="pack in packs" class="col-sm-6 " >
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object"
                                 src="/media/{{pack.beatmapset_id}}/{{pack.beatmapset_id}}l.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="/img/artist.png" alt="..."
                                        style="width:20px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    {{pack.artist}}
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="/img/title.png" alt="..."
                                             style="width:20px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    {{pack.title}}
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#" >
                                        <span class="media-object" style="width:20px;"></span>
                                        <!--<img class="media-object" src="/img/title.png" alt="..."-->
                                             <!--style="width:20px;">-->
                                    </a>
                                </div>
                                <div class="media-body">
                                    <img ng-repeat="beatmap in pack.beatmaps"
                                         src="/img/mode/{{constants.converter.mode[beatmap.mode]}}/{{constants.converter.difficulty[beatmap.difficulty]}}.png"
                                         alt="created by {{beatmap.creator}}" title="created by {{beatmap.creator}}"
                                         style="width:20px;margin-left:2px;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media-right">
                        <a type="button" class="btn btn-default" target="_blank"
                           href="https://osu.ppy.sh/s/{{pack.beatmapset_id}}">
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                        </a>
                        <a type="button" class="btn btn-default" target="_self" href="{{pack.downloadLink}}"
                           download="{{pack.downloadName}}">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        </a>
                        <a type="button" class="btn btn-default" ng-click="playBeatmap(pack.beatmapset_id)">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </a>
                    </div>
                </li>
            </ul>

        </div>
        <div ng-if="$index % 2 != 0" class="clearfix"></div>
        <div ng-repeat-end=""></div>
    </div>
</div>
<audio id="player" src="http://b.ppy.sh/preview/149685.mp3" type="audio/mp3"></audio>
<div class="cell">
    <img src="/img/listing1.png" style="width:32px;"/>
    <select ng-change="draw()" ng-model="pageSize"
            ng-options="pageSize as pageSize for pageSize in constants.pageSizes"></select>
</div>
