<div class="ui category search item right aligned search-big focus" style="width:300px;">
    <div class="ui icon input">
        <input class="prompt inverted" type="text" placeholder="Search creators / titles / artits ..."
               autocomplete="off">
        <i class="search icon"></i>
    </div>
    <div class="results transition visible" style="display: block !important;">
        <div class="category">
            <div class="name">Creators</div>
            <div class="result">
                <div class="content">
                    <div class="title">NatsumeRin</div>
                </div>
            </div>
            <div class="result">
                <div class="content">
                    <div class="title">Kawayi Rika</div>
                </div>
            </div>
            <div class="result">
                <div class="content">
                    <div class="title">Krisom</div>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="name">Artists</div>
            <div class="result">
                <div class="content">
                    <div class="title">fripSide</div>
                </div>
            </div>
            <div class="result">
                <div class="content">
                    <div class="title">ClariS</div>
                </div>
            </div>
            <div class="result">
                <div class="content">
                    <div class="title">Rita</div>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="name">Songs</div>
            <div class="result">
                <div class="content">
                    <div class="title">Ai no Scenario</div>
                </div>
            </div>
            <div class="result">
                <div class="content">
                    <div class="title">TRIGGER*HAPPY</div>
                </div>
            </div>
            <div class="result">
                <div class="content">
                    <div class="title">Friend Shitai</div>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="name">Sources</div>
            <div class="result">
                <div class="content">
                    <div class="title">Bakemonogatari</div>
                </div>
            </div>
            <div class="result">
                <div class="content">
                    <div class="title">Yuru Yuri</div>
                </div>
            </div>
            <div class="result">
                <div class="content">
                    <div class="title">Nisemonogatari</div>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="name">Tags</div>
            <div class="result">
                <div class="content">
                    <div class="title">-[koinuri]</div>
                </div>
            </div>
            <div class="result">
                <div class="content">
                    <div class="title">-bakari-</div>
                </div>
            </div>
            <div class="result">
                <div class="content">
                    <div class="title">-kirito</div>
                </div>
            </div>
            <div class="result">
                <div class="content">
                    <div class="title">-rikka-</div>
                </div>
            </div>
            <div class="result">
                <div class="content">
                    <div class="title">-spring-</div>
                </div>
            </div>
        </div>
    </div>
</div>